<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

<div id="centralizaTexto">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Cadastro de cliente no sistema</h1>
            </div>
            <div class="card-body">
                <form action="/clientes/new" method="post">
                    <label>Nome do cliente:</label>
                    <input type="text" name="nome" id="nome" placeholder="Insira o nome do cliente" class="form-control" required>
                    <label>CPF:</label>
                    <input type="text" name="cpf" id="cpf" placeholder="Insira o CPF do cliente" class="form-control" required>
                    <label>Endereço:</label>
                    <input type="text" name="endereco" id="endereco" placeholder="Insira o endereço do cliente" class="form-control" required>
                    <br>
                    <center><input type="submit" value="Cadastrar" class="btn btn-success"></center>
                </form>
                <hr>
                    <center><a href="/clientesView"><button type="button" class ="btn btn-info">Ver clientes cadastrados</button></a></center>
                
            </div>
        </div>
    </div>
</div>
    
<%- include ('partials/footer.ejs') %>