<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

<div id="centralizaTexto">
<h1>Bem vindo à <span style="color: #5e9693;">V</span><span style="color: #00469b;">Papelaria</span>!</h1>
<hr>
<h3>Use os menus acima para navegar</h3>
<p>Projeto realizado com EJS no Express.</p>
</div>
<%- include ('partials/footer.ejs') %>