<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

<div id="centralizaTexto">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Cadastro de pedidos no sistema</h1>
            </div>
            <div class="card-body">
                <form action="/pedidos/new" method="post">
                <label>Código do pedido:</label>
                <input type="text" name="numPed" id="numPed" placeholder="Insira o código do pedido" class="form-control" required>
                <label>Valor do pedido:</label>
                <input type="text" name="valor" id="valor" placeholder="Insira o valor do pedido (R$)" class="form-control" required>
                <br>
                <center><center><input type="submit" value="Cadastrar" class="btn btn-success"></center></center>
                </form>
                <hr>
                    <center><a href="/pedidosView"><button type="button" class ="btn btn-info">Ver pedidos no sistema</button></a></center>
                
            </div>
        </div>
    </div>
</div>
    
<%- include ('partials/footer.ejs') %>